/* == NAVBAR FOOTER == */
.grid-container-footer {
 display: flex;
 flex-direction: column;
 height: 254px;
 width: 100%;
 box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
 background: #2B2C2B;
 justify-content: center;
 padding-left: 150px;
 padding-right: 150px;
}

.navbar-footer {
  display: flex;
  flex-direction: row;
  margin-top: 2.02rem;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .gap-coba-footer {
  display: flex;
  gap: 10px;
}

/* Menu */
.nav-links-footer {
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 6rem;
}

.nav-links-footer a {
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
}

.garis-difooter {
  display: block; /* membuat elemen hr menjadi block-level */
  width: auto;
  border-bottom: 4px solid #4C4C4C;
  border-radius: 3px;
  margin-top: 2.02rem;
}

.icons-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
  color: white;
  margin-top: 2.02rem;
}