/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
Poppins

---------- COLORS ----------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moonligh Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000000 (Black)

---------- BORDER RADIUS ----------

4px / 8px / 20px

---------- SPACING SYSTEM ----------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

*/

/* Base Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #FAF9F6; */
}




/* ----------------date----------------------- */
/* .garis-waktu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 160px;
  margin-left: 150px;
  margin-top: 140px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bulan {
  font-weight: 600;
  font-size: 18px;
}

.lingkaran {
  width: 30px;
  height: 30px;
  border: 3px solid #5DC3B2;
  border-radius: 50%;
}

.garis {
  width: 3.50px; 
  height: 180px;
  border-left: 3.50px dashed #000;
  margin-left: 14px;
} */

