

.ini-buatgridnya {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 78px;
  column-gap: 78px;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card-potensi {
  padding: 20px 20px;
  box-shadow: 0px 0.14px 41px rgba(41, 41, 41, 0.05);
  background: #fff;
  border-radius: 20px;
}

.sdsamnpl {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bungkus-grid {
  display: grid;
  column-gap: 30px;
  width: 328px;
  border-radius: 12px;
  padding: 0;
}

.jasdksad {
  overflow: hidden;
  height: 172px;
  width: 292px;
  border-radius: 12px;
}

.tombol-wisata {
  display: flex;
  width: 70px;
  height: 28px;
  background-color: #DFF3F0;
  color: #54525D;
  /* border: 2px solid #FF7B01; */
  font-size: 12px;
  justify-content: center;
  /* margin-top: 20px; */
  align-items: stretch;
  padding: 5px 10px;
  border-radius: 200px;
}

.iniwraper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}










/* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 78px;
  column-gap: 78px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 0;
  max-width: 1100px; */